@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700;900&display=swap');
body {
    font-family: 'Lato', sans-serif;
}
.container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body {
    box-shadow: 0px 5px 15px rgba(33, 31, 38, 0.05);
    border-radius: 8px;
}
h1 {
    color: #2B3C4E;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin-bottom: 16px; margin-top: 30px;
}
h6 {
    font-weight: 400;
    font-size: 16px;
    color: #7D7D7D;
    text-align: center;
    margin-bottom: 50px;
}
.recover_option {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.recover_option:nth-of-type(2) {
    margin-bottom: 32px;
}
.recover_option:active {
    border: 1px solid #7557D3;
    box-shadow: 0 8px 30px 10px rgba(117, 87, 211, 0.05);
    background-image: url(check_img.png);
    background-repeat: no-repeat;
    /* background-position: right; */
    background-position-x: 90%; background-position-y: 50%;
}
.recover_option:active  .option_head {
    color: #7557D3;
}
.recover_icon {
    background: rgba(33, 31, 38, 0.05);
    border-radius: 50%;
    padding: 16px;
    margin: 0 28px;
}
.recover_option > img {
    width: min-content;
    height: min-content;
}
.option_head {
    font-weight: 600;
    font-size: 18px;
    color: #211F26;
    margin-bottom: 16px;
}
.option_text {
    font-weight: 400;
    font-size: 14px;
    color: #B1B1B1;
    width: 65%
}
button {
    background: #7557D3;
    color: white;
    border-radius: 4px;
    width: 75%;
    height: 50px;
    font-size: 16px;
    border: none;
    margin-bottom: 30px;
}
.resend_link {
    font-size: 14px;
    color: #B1B1B1;
}
.resend_link > a {
    color: #7557D3;
    text-decoration: none;
}