@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700;900&display=swap');
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    margin-top: 60px;
}
.subhead {
    font-family: Lato;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #2B3C4E;
}
.inputs{
    display: flex;
    width: 70%
}
.input_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 2%;
}
input {
    border: 1.5px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
}
label {
    font-size: 14px;
    color: #4F4F4F;
}
#signup {
    color: white;
    background: #7557D3;
    border: none;
    width: 42%;
    border-radius: 4px;
}
.signin {
    font-style: italic;
    font-size: 14px;
    color: #4F4F4F;
}